@model OctawareLMS.Models.Employee
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if(Model==null){
       <h1 class="alert-warning">Please provide valid Emp ID</h1>
    }
    else{
        <h1 class="display-4">Welcome @Model.Name</h1>
        <div class="container-fluid">
            <div class="align-middle">
                <h2>Profile</h2>
                <table>
                    <tr>
                        <th>Id</th>
                        <td>@Model.Id</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <th>Date Of Joining</th>
                        <td>@Model.DateOfJoining.Date</td>
                    </tr>
                    <tr>
                        <th>Date Of Birth</th>
                        <td>@Model.DateOfBirth.Date</td>
                    </tr>
                </table>
            </div>
            </div>
        
    }
</div>
